@charset  "utf-8";

* {
    margin: 0;
    padding: 0;
}
html {
    font-size: 100%;
}
body {
    font-family: "Noto Sans JP", MyYuGothicM, YuGothic, -apple-system, BlinkMacSystemFont, "Hiragino kaku Gothic ProN", Meiryo, Verdana, arial, helvetica, sans-serif;;
    font-weight: bold;
    color: #121212;
}
ul { list-style: none;
}
a {
    text-decoration: none;
    color: black;
}

//ヘッダー
.header {
    display: flex;
    justify-content: space-between;
    background-color: darkviolet;
    &-left {
        height: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
        a {
            width: 160px;
        }   
    }
    &-right ul {
        height: 70px;
        display: flex;
        align-items: center;
    }
    &-right li {
        padding: 0 15px;
    }
}
    

